@import 'reset';
@import 'classes';
@import url(https://fonts.googleapis.com/css?family=Economica);

$font-stack:  'Economica', sans-serif;
$primary-color:  #333;

body, input, button, select, option, textarea {
  font: 100% $font-stack;
}

body {
  header, main {
    // display: block;
    margin: auto;
    width: 100%;

    @media (min-width: 600px) {
      width: 80%;
    }

    @media (min-width: 1000px) {
      width: 60%;
    }

  }

  header {
    background: $primary-color;

    img {

      display: block;
      margin: auto;
    }
  }

  main {
    section {
      &.title, &.input-wrapper, &.btn-wrapper {
        text-align: center;
      }

      &.title h1 {
        font-size: 400%;
      }
    }
  }
}
