.btn, .input {
  // border: 1px solid black;
  background: none;
  border-width: 1px 1px 1px 1px;
  border-color: black;
  border-style: solid;
  // border-bottom: 1px solid $primary-color;
  // border-right: 1px solid $primary-color;
  padding: 1%;
  margin: 1%;
  // transition: 0.5s ease;
}

.btn:hover {
  // border-color: $primary-color;
  // background: black;
  font-weight: bold;
}

.input {
  border-width: 0 0 1px;
}

.cap {
  font-weight: bold;
  font-size: 110%;
}

.valid {
  border-bottom: 2px solid #00FF16;
}

.invalid {
  border-bottom: 2px solid #FF0002;
}
